table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
  background: white;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
td.restricted{
    background: lightgreen !important;
}

.button{
    font-size: 1.25em;
    border: 1px solid;
    border-radius: 4px;
    background-color: lightgray;
    padding: 2px 6px;
    margin: 1px
}

.buttons{
    text-align: center;
}
.hidden{
    display: inline;
}
.container{
    max-width: 600px;
    padding:16px 16px;
    padding-top: 24px!important;
	padding-bottom: 24px!important;
    margin: 10px auto;
    background: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, lightgreen 2px, transparent 1px),
      linear-gradient(to bottom, lightgreen 2px, honeydew 1px);
}
#solve{
    background-color: lightgreen !important;
    width: 3.5em;
}
#set{
    padding: 2px 1em;
}
